# Created by Vercel CLI
VERCEL="1"
VERCEL_ENV="development"
TURBO_REMOTE_ONLY=""
TURBO_RUN_SUMMARY=""
NX_DAEMON=""
VERCEL_URL=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_PULL_REQUEST_ID=""
i18n_Vercel=""
EDGE_CONFIG=""
NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY=""
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_PRISMA_URL=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""
VERCEL_ANALYTICS_ID=""
VERCEL_WEB_ANALYTICS_ID=""

FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""
FIREBASE_MEASUREMENT_ID=""

RECAPTCHA_SITE_KEY=""
APPCHECK_TOKEN=""

APPLE_MUSIC_p8=""
APPLE_MUSIC_TEAM_ID=""
APPLE_MUSIC_KEY_ID=""
APPLE_MUSIC_USER_TOKEN=""

APPLE_SHORTEN_CSRF_TOKEN=""
APPLE_SHORTEN_COOKIE=""