NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY=""

FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""
FIREBASE_MEASUREMENT_ID=""

RECAPTCHA_SITE_KEY=""
APPCHECK_TOKEN=""

APPLE_MUSIC_p8=""
APPLE_MUSIC_TEAM_ID=""
APPLE_MUSIC_KEY_ID=""
APPLE_MUSIC_USER_TOKEN=""

APPLE_SHORTEN_CSRF_TOKEN=""
APPLE_SHORTEN_COOKIE=""
