@media (prefers-color-scheme: dark) {
  #hero {
    height: 100vh!important;
    background: url("/assets/img/mesh-gradient-d.png?h=b3043d6fce32b16bcf287b740b0f4c96") no-repeat !important;
    background-size: cover!important;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar {
    height: 10vh;
    background: rgba(0,0,0,0.5)!important;
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: white!important;
  }
}

.navbar {
  height: 10vh;
  background: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(25,25,25)!important;
    color: #ddd!important;
  }
}

@media (prefers-color-scheme: dark) {
  .footer-basic {
    background: rgb(25,25,25)!important;
    color: #ddd!important;
  }
}

/* @media (prefers-color-scheme: dark) {
  .accordion {
    border: 1px solid rgb(11,99,228)!important;
  }
} */

@media (prefers-color-scheme: dark) {
  .accordion-item {
    background-color:rgba(0, 0, 0, 0.25)!important;
    color: #ddd;
  }
}

@media (prefers-color-scheme: dark) {
  .accordion-button {
    background-color: transparent!important;
    color: #ddd;
  }
}

@media (prefers-color-scheme: dark) {
  .table {
    color: #ddd!important;
  }
  tr {
    border-style: hidden!important;
  }
}

@media (prefers-color-scheme: dark) {
  .brands {
    background: rgb(25,25,25)!important;
    color: #ddd!important;
  }
}

@media (prefers-color-scheme: dark) {
  #avatar {
    width: 10vw;
  }
}

.accordion {
  border-radius: 15px!important;
  margin-bottom: 25px;
}

@media (prefers-color-scheme: dark) {
  #edu {
    padding: 3vw;
    background-position: center;
    background-size: cover;
    background-image: none!important;
  }
}

#edu {
  background-position: center;
  background-size: cover;
  padding: 25px;
}

#do {
  padding: 25px;
  background-position: center;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  #do {
    padding: 3vw;
    background-position: center;
    background-size: cover;
    background-image: none;
  }
}

@media (prefers-color-scheme: dark) {
  .dropdown-item {
    color: #313437!important;
  }
}

@media (prefers-color-scheme: dark) {
  #skills {
    background-color:rgba(0, 0, 0, 0.25)!important;
    padding: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar-toggler-icon {
    filter: invert(100%);
  }
}

#about {
  margin-top: 5%;
  font-family: futura;
  margin-bottom: 5%;
}

#proj {
  margin-bottom: 5%;
  font-family: futura;
}

#faq {
  margin-bottom: 5%;
  font-family: futura;
}

#contact {
  font-family: futura;
  margin-bottom: 5%;
}

.brands {
  margin-top: 1%;
  width: 100%;
  padding: 2%;
}

#topArrow {
  width: 32px;
  height: 32px;
  background: url("/assets/img/cd-top-arrow.svg?h=b73f3c59a7f1ec91a545b91f7333e08d") center no-repeat, rgb(13,110,253);
  border-radius: 10px;
  z-index: 9999;
}

#heroContainer {
  height: 50vh;
  max-width: 75%;
  background: rgba(25,25,25,0)!important;
}

#avatar {
  background: rgba(255,255,255,0.1);
  padding: 5px;
  padding-bottom: 0px;
  min-width: 80px;
  min-height: 80px;
  width: 10vw;
}

#headingGreeting {
  color: rgba(108,117,125,0.5);
}

#headingName {
  color: var(--bs-white);
}

#and {
  color: rgba(108,117,125,0.5);
}

#wwdc21 {
  background: -webkit-linear-gradient(#ffffff, #00ffc2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#arrowDown {
  font-size: 25px;
  color: rgba(108,117,125,0.5);
}

#appleBusinessChatBanner {
  border-radius: 15px!important;
}

#branding {
  font-family: futura;
}

@media (prefers-color-scheme: dark) {
  .show #nav {
    background-color: #191919!important;
    margin-top: 22px;
  }
}

.show #nav {
  background-color: #fff6eb;
  margin-top: 22px;
}

#menuDropDown {
  border-radius: 15px;
  background: rgb(255,255,255);
}

#aboutContainer {
  max-width: 75%;
}

#who {
  padding: 25px;
}

#whoDiv {
  background: #0b63e4;
  padding: 25px;
  border-radius: 25px;
  min-height: 300px;
}

#whoHeading {
  color: rgb(255,246,235);
}

#whoParagraph {
  color: rgb(255,246,235);
}

#eduDiv {
  background: #a42870;
  padding: 25px;
  border-radius: 25px;
  min-height: 300px;
}

#eduHeading {
  color: rgb(255,246,235);
}

#eduParagraph {
  color: rgb(255,246,235);
}

#cityuCert {
  font-size: 12px;
  background: var(--bs-pink);
  padding: 15px;
  border-radius: 15px;
  color: rgb(255,255,255);
}

#doDiv {
  background: var(--bs-indigo);
  padding: 25px;
  border-radius: 25px;
  min-height: 300px;
}

#doHeading {
  color: rgb(255,246,235);
}

#doParagraph {
  color: rgb(255,246,235);
}

#exp {
  margin-top: 5vw;
  border-radius: 25px;
  border: 3px none rgb(12,99,228);
}

#expHeading {
  margin-bottom: 20px;
}

#awardsHeading {
  margin-bottom: 20px;
  margin-top: 30px;
}

#wwdc21Winner {
  border-radius: 15px;
  margin-bottom: 50px;
  opacity: 1;
  max-height: 100px;
}

#skillsLang {
  margin-top: 5vw;
  border-radius: 25px;
  border: 3px none rgb(12,99,228);
}

#skillsLangHeading {
  margin-bottom: 20px;
}

#skills {
  background: #ffffff;
  border-radius: 15px;
}

#skillsRemark {
  font-size: 12px;
  text-align: right;
  color: rgba(221,221,221,0.85);
  padding-right: 15px;
}

#postContainer {
  max-width: 75%;
  border-radius: 25px;
  border-style: none;
}

#projContainer {
  max-width: 75%;
  border-radius: 25px;
  border-style: none;
  overflow-x: scroll;
}

#faqContainer {
  max-width: 75%;
  border-radius: 25px;
  border-style: none;
}

#projHeading {
  margin-bottom: 25px;
}

#faqHeading {
  margin-bottom: 25px;
}

.accordion-item:first-of-type {
  border-top-left-radius: 25px!important;
  border-top-right-radius: 25px!important;
}

.accordion-item {
  border: none!important;
}

.accordion-item:first-of-type .accordion-button {
  box-shadow: none;
  border-radius: 15px 15px 0px 0px;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 25px!important;
  border-bottom-left-radius: 25px!important;
}

#contactContainer {
  max-width: 75%;
  border-radius: 25px;
  border-style: none;
  border-color: rgb(13,110,253);
}

#contactSpan {
  font-size: 40px;
}

#contactDiv {
  border-radius: 15px!important;
  margin-top: 5px;
}

#mapImage {
  border-radius: 15px;
}

#thanks {
  margin-bottom: 0px;
  margin-left: 15px;
}

#vercel {
  height: 32px;
  padding: 0px;
  margin-left: 15px;
  max-width: 168px;
}

#betterUptime {
  height: 32px;
  padding: 0px;
  margin-left: 15px;
  max-width: 80px;
  border-radius: 5px;
}

#vercelImage {
  filter: grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%);
  height: 32px;
  margin: 0px;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
}

#butImage {
  filter: grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%);
  height: 32px;
  margin: 0px;
  border-radius: 5px;
}

html {
  overflow-x: hidden;
  font-family: futura!important;
}

body{
  top: 0px !important; 
  position: static !important;
  background: #fff6eb;
}

.goog-te-banner-frame{
  display:none !important
}

.goog-logo-link {
  display:none !important;
} 

.goog-te-gadget{
  color: transparent !important;
}

#prevIcon {
  filter: invert(50%);
}

#nextIcon {
  filter: invert(50%);
}

#projCard {
  min-width: 300px;
  border-style: none;
  border-radius: 15px;
  margin-right: 15px;
}

.card-body {
  /* border: 1px solid #0963e4; */
  border-radius: 15px;
}

#cardPara {
  margin-bottom: 10px;
}

#firstChar {
  color: #0963e4;
  float: left;
  font-family: futura;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

@media (prefers-color-scheme: dark) {
#mlType {
  /* background-color: #3a0d27; */
  /* border: 1px solid #a42870; */
  border-radius: 15px;
}
}
#mlType #firstChar {
  color: #a42870;
}
.form-check-input {
  margin-right: 5px;
}
#mlType .form-check-input:checked {
  background-color: #a42870;
  border-color: #a42870;
}
#mlType a{
  color: #a42870;
}

#projDiv {
  animation: scroll 15s linear infinite;
  animation-delay: 3s;
}
#projDiv:hover {
  animation-play-state: paused;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-315px * 4))}
}

@media (prefers-color-scheme: dark) {
  #projCard {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

#hero {
  height: 100vh;
  background: url("/assets/img/mesh-gradient.png?h=1489e3ae3c1a78e7c4683d180dbc4a10") no-repeat;
  background-size: cover;
}

#atlassian {
  color: var(--bs-blue);
}

#tmg {
  color: var(--bs-teal);
}

#2022 {
  border-width: 0px;
  border-radius: 15px 15px 0px 0px;
}

#2021 {
  border-width: 0px;
}

#2019 {
  border-width: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#externalLink {
  color: rgb(19,112,253);
}

.smallHeading {
  font-size: 12px;
}

#postHeading {
  margin-bottom: 25px;
}

#postList {
  margin-bottom: 25px;
}

#post {
  margin-bottom: 5%;
}

#postItem:first-child {
  border-radius: 25px 25px 0px 0px;
  border: none;
}

#postItem:last-child {
  border-radius: 0px 0px 25px 25px;
  border: none;
}

@media (prefers-color-scheme: dark) {
  #postItem {
    background-color: rgba(0, 0, 0, 0.25)!important;
    color: white!important;
  }
}

#postItem {
  cursor: pointer;
  background-color: #ffffff;
  color: #0c63e4;
  border: none;
}

#postItem:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
  border-radius: 25px;
  border: 1px solid white;
  z-index: 2;
}

@media (prefers-color-scheme: dark) {
  #achievementsPara {
    background-color: rgba(0, 0, 0, 0.25)!important;
    border-radius: 15px;
    padding: 15px;
  }
}