@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, 'SF Pro Display', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.darkmode-ignore {
  display: block!important;
}

.darkmode-toggle {
  z-index: 10;
}

.github-octo-flat-ui {
  height: 35vh!important;
}

.DocSearch {
  position: fixed;
  bottom: 35px;
}

.darkmode--activated .DocSearch-Button {
  filter: contrast(90%) invert(60%) hue-rotate(180deg) !important;
  -ms-filter: invert(100%);
  -webkit-filter: contrast(90%) invert(90%) hue-rotate(180deg) !important;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -webkit-image-rendering: optimizeSpeed;
}

.darkmode--activated .DocSearch-Modal {
  filter: contrast(90%) invert(90%) hue-rotate(180deg) !important;
  -ms-filter: invert(100%);
  -webkit-filter: contrast(90%) invert(90%) hue-rotate(180deg) !important;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -webkit-image-rendering: optimizeSpeed;
}